<%# at bottom of every page, display total number of users and interests %>
<%# base it on YAML file, use a count_interests method to determine interests %>

<html>
  <head>
    <title>UAI</title>
  </head>
  <body>
    <h1>UAI</h1>
    <%= yield %>
  </body>
  <footer>
    There are <%= count_users %> users with a total of <%= count_interests %> interests.
  </footer>
</html>