<%# display email addresses, display comma separated interests %>
<%# at bottom, link to the remaining users pages %>

<ul>
  <li><%= @name %></li>
  <li><%= @email %></li>
  <li>
    interests
    <ul>
      <%= @interests %>
    </ul>
  </li>
</ul>